@model Transactions


@{
    ViewData["Title"] = "New transaction";
}

@{
    Transactions transactions = Model;
}


<h1>New transaction from @Model.AccountName</h1>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form asp-action="Create">
    <input type="hidden" asp-for="AccountId" />
    <div class="mb-3">
        <label asp-for="CategoryId" class="form-label">Categoria</label>
        <select asp-for="CategoryId" class="form-control" required>
            <option>Select a category</option>
            <optgroup label="Income">
            @foreach(var category in transactions.CategoryList)
            {
                @if (category.OperationTypeDescription.Equals("Income"))
                {
                   <option value="@category.Id">@category.Name</option>
                }
            }
            </optgroup>
            <optgroup label="Expenditure">
            @foreach(var category in transactions.CategoryList)
            {
                @if (category.OperationTypeDescription.Equals("Expenditure"))
                {
                    <option value="@category.Id">@category.Name</option>
                }
            }
            </optgroup>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"> </span>
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <input type="text" autofocus asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"> </span>
    </div>
    <div class="mb-3">
        <label asp-for="Total" class="form-label"></label>
        <input type="text" asp-for="Total" class="form-control" />
        <span asp-validation-for="Total" class="text-danger"> </span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Cancel</a>

</form>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}